:root {
  --cinz-200: #e6e6e6;
}

h1 {
  font-size: 2rem;
  color: var(--cinz-200);
}

.cardInfFil {
  width: 30rem;
  background-color: transparent;
  position: absolute;
}

.IMGBackGround {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.IMGBackGround > img {
  width: 25%;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%) 0%,
    rgb(0 0 0 / 84%) 50%,
    rgb(241 241 241 / 16%) 100%
  );
}

.CardFilm {
  display: flex;
}
