:root {
  --cinz-25: #141414;
  --cinz-500: #7c7c7c;
  --red-100: #ca0000;
  --whit-0: rgb(255, 255, 255);
}
/* 
.bg-light {
  background-color: red;
} */

.cbHeader {
  background-color: var(--cinz-25);
  height: 66px;
  display: flex;
  width: 100%;
}

.logo {
  margin: 0;
  color: var(--red-100);
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.primaryNavigation {
  width: 70%;
  display: flex;
  align-items: center;
}

.secondaryNavigation {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.cbList {
  color: var(--whit-0);
  padding: 0px;
  margin: 0.4rem;
  height: 1.2rem;
}

.cbListRgt {
  color: var(--whit-0);
  padding: 0px;
  margin: 0.6rem;
  height: 1.2rem;
}

a,
a:link,
a:visited {
  transition: 0.2s;
  color: var(--whit-0) !important;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--cinz-500) !important;
  text-decoration: none;
}

button {
  border-style: none;
  background-color: transparent;
}

.btns {
  width: 1.5rem;
  height: 1.5rem;
}
