:root {
  --cinz-100: rgb(17, 17, 17);
}

.login {
  display: flex;
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}

body {
  background-color: var(--cinz-100);
}
